{% extends "index.html" %}

{% block title %}
    Quản trị hệ thống
{% endblock  %}
{% load custom_filters %}
{% block content %}
    <style>
        .button-switch{
            margin-bottom: 20px;
        }
        .btn-sachmuon{
            position: relative;
            padding: 4.8px 9.6px;
            background: #2C3E50;
            border: 0.5px #2c3e50 solid;
            border-radius: 4.8px 0px 0px 4.8px ;
            text-decoration: none;
            color: white;
        }
        .btn-sachtra {
            position: absolute;
            padding: 4.8px 9.6px;
            background: none;
            color: black;
            border: 0.5px #2c3e50 solid;
            border-radius: 0 4.8px 4.8px 0;
            text-decoration: none;
        }
        .btn-sachtra:hover{
            background: #2C3E50;
            color: white;
        }
    </style>
    <div class="button-switch">
        <a href="/quan-ly-tinh-hinh-muon-tra/" style="" class="btn-sachmuon" type="button">Sách đang mượn</a>
        <a style="" class="btn-sachtra" type="button">Sách đã trả</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">ID</th>
                <th scope="col">Người mượn</th>
                <th scope="col">Ngày mượn</th>
                <th scope="col">Ngày hẹn trả</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Số thẻ</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Người tạo</th>
                <th scope="col">Sách</th>
                <th scope="col">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            {% if phieumuons|length == 0 %}
                <tr>
                    <td colspan="9" class="text-center">Không có dữ liệu</td>
                </tr>
            {% endif %}
            {% comment %} Hiển thị danh sách user {% endcomment %}

            {% for phieumuon in phieumuons %}
                <tr>
                    <th scope="row">{{ phieumuon.id_phieumuon }}</th>
                    <td>{{ phieumuon.id_the.id_docgia.name }}</td>
                    <td>{{ phieumuon.ngay_tao }}</td>
                    <td>{{ phieumuon.ngay_hen_tra }}</td>
                    <td>{% if phieumuon.ngay_hen_tra|kqdays > 0 %} Còn {{ phieumuon.ngay_hen_tra|kqdays }} Ngày{% elif phieumuon.ngay_hen_tra|kqdays < 0 %} Trễ hạn {% endif %} </td>
                    <td>{{ phieumuon.id_the.id_the }}</td>
                    <td>{{ phieumuon.so_luong }}</td>
                    <td>{{ phieumuon.id_user.name}}</td>
                    <td>{{ phieumuon.id_sach.name}}</td>
                    <td> {{ phieumuon.ghi_chu}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        document.querySelector(".btn-sachtra").onclick = function(){
                window.location.href = `/quan-ly-tinh-hinh-muon-tra/load-form`;
    			};
    </script>
{% endblock  %}