{% extends "index.html" %}

{% block title %}
    Quản trị hệ thống
{% endblock  %}

{% block content %}
    <style>
        .button-switch{
            margin-bottom: 20px;
        }
        .btn-sachmuon{
            position: relative;
            padding: 4px 15px;
            background: #2C3E50;
            border: 0.5px #2c3e50 solid;
            border-radius: 20px 0px 0px 20px ;
            text-decoration: none;
            color:white ;
        }
        .btn-sachtra {
            position: absolute;
            padding: 4px 15px;
            background: none;
            color:black ;
            border: 0.5px #2c3e50 solid;
            border-radius: 0 20px 20px 0;
            text-decoration: none;
        }
    </style>
    <div class="button-switch">
        <a href="/quan-ly-tinh-hinh-muon-tra/" style="" class="btn-sachmuon" type="button">Sách đã mượn</a>
        <a style="" class="btn-sachtra" type="button">Sách đã trả</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">ID</th>
                <th scope="col">Ngày mượn</th>
                <th scope="col">Ngày hẹn trả</th>
                <th scope="col">Ngày trả</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Số thẻ</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Người mượn</th>
                <th scope="col">Sách</th>
                <th scope="col">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            {% if phieumuons|length == 0 %}
                <tr>
                    <td colspan="9" class="text-center">Không có dữ liệu</td>
                </tr>
            {% endif %}
            {% comment %} Hiển thị danh sách user {% endcomment %}

            {% for phieumuon in phieumuons %}
                <tr>
                    <th scope="row">{{ phieumuon.id_phieumuon }}</th>
                    <td>{{ phieumuon.ngay_tao }}</td>
                    <td>{{ phieumuon.ngay_hen_tra }}</td>
                    <td>{{ phieumuon.ngay_tra}}</td>
                    <td>{% if date >= 0 %} Đúng hạn {% elif date < 0 %} Trễ hạn {% endif %}</td>
                    <td>{{ phieumuon.id_the.id_the }}</td>
                    <td>{{ phieumuon.so_luong }}</td>
                    <td>{{ phieumuon.id_user.name}}</td>
                    <td>{{ phieumuon.id_sach.name}}</td>
                    <td> {{ phieumuon.ghi_chu}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}