{% extends "index.html" %}

{% block title %}
    Cập nhật danh mục
{% endblock  %}

{% block content %}
    <h2 class="lv2">Cập nhật người dùng</h2>
    {% if category_update %}
        <form method="post" action={% url 'updateCategoryPost' %} class="form" autocomplete="off">
            {% csrf_token %}
            <fieldset>
                <input type="hidden" name="id" value="{{ category_update.id_category }}">
                <div class="d-flex justify-content-between gap-4">
                    <div class="form-group mt-4 w-50">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" value="{{ category_update.name }}" required placeholder="Enter name" name="name">
                    </div>
                    <div class="form-group mt-4 w-50">
                        <label class="form-label">Description</label>
                        <input type="text" class="form-control" value="{{ category_update.description }}" required placeholder="Enter description" name="description">
                    </div>
                </div>
                <div class="mt-5">
                    <a href="/quan-ly-nguoi-dung" class="btn btn-outline-primary" style="margin-right: 4px">Quay lại</a>
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-plus-circle"></i>&nbsp; Lưu
                    </button>
                </div>
            </fieldset>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Không tìm thấy người dùng
        </div>
    {% endif %}
{% endblock  %}